In [7]:
_age! =1

SyntaxError: invalid syntax (<ipython-input-7-6476a950e02e>, line 1)

In [53]:
X = (1,2,3,4,5,6,7)
Y = (7,2,3,10,2,8,9)

In [57]:
ident_indexes = dict()
type(ident_indexes)

dict

In [71]:
ident_indexes[1].append(5)

In [101]:
Input = input("Choose your numbers: ")
aux = Input.split(',')
print(aux)
aux2 = [int(aux[0]),int(aux[1])]
print(aux2)
aux2[0]<aux2[1]

Choose your numbers: 10,50
['10', '50']
[10, 50]

True

In [130]:
import pandas as pd
import numpy as np
s = np.random.normal(10,2,100)
a = np.random.normal(5,1,100)
b = np.random.normal(20,4,100)
f = pd.DataFrame([s,a,b])
f.loc[]

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,11.390286,7.677628,7.612394,11.996703,15.483662,17.970393,8.586793,8.534237,12.506404,12.030895,...,10.540557,8.049583,12.122211,7.385599,11.212863,14.417224,8.992890,9.956990,13.523515,10.402148
1,4.219168,4.578636,5.137522,4.387910,3.886565,3.978684,6.818223,3.679521,3.801726,5.254482,...,5.401629,6.757872,4.543640,5.240840,4.554367,5.120832,4.969582,4.701489,6.315377,5.340380
2,22.371072,14.742649,21.113331,13.256750,16.885416,19.811545,15.880697,12.060056,19.014053,24.334333,...,18.234312,25.193337,24.495290,25.883837,12.544479,14.870831,20.073273,26.431323,22.794848,20.039975