# Programming for Data Science - Lab 2


Try to solve the questions below using Python.

### Variables, Operators, and Data Structures


<b>Q</b>: In the following cell we have declared a multiple variables. Can you identify the type of each variable?

Remember to run the top cell first.

In [2]:
a = 15 #int
b = 24.5 #float
c = "Knock Knock" #string
d = "Who's there?" #string
e = "Turnip" #string
f = "Turnip Who?" #string
g = "Turnip the volume, I love this song!" #string

Let's verify the type of variable a

In [17]:
type(a)

int

<b>Q</b>: What is the ouput of multiplying a times b? And what is the variable type of the output?

In [12]:
ab= a*b
print(ab)
type(ab)

367.5

float

<b>Q</b>: Divide variable a by 2, what is the output type?

In [13]:
a_2= a/2
print(a_2)
type(a_2)

7.5

float

<b>Q</b>: hat if you use the floor operator? Remember the floor operator is //

In [14]:
a_2= a//2
print(a_2)
type(a_2)

7

int

<b>Q</b>: What if you multiply b by 2, what is the output type?

In [16]:
b2= b*2
print(b2)
type(b2)

49.0

float

<b>Q</b>: What is the type of variables c,d,e,f, and g? <br>
Use the print function to print a sentence that concatenates c,d,e,f, and g and prints each on a new line. Don't forget to add a line break separator "\n" which can be passed as an argument to the print function.

In [22]:
print(c+'\n'+d+'\n'+e+'\n'+f+'\n'+g)

Knock Knock
Who's there?
Turnip
Turnip Who?
Turnip the volume, I love this song!

<b>Q</b>: Consider the list X, declared below. What is the lenght of X? Print the 5th and 9th element of the list.

In [114]:
X = {2, 1, 21, 13, 233, 144, 0, 3, 8, 5, 89, 34, 1, 55}
type(X)

set

In [115]:
Y = X
print(X)

{0, 1, 2, 3, 34, 5, 8, 233, 13, 144, 21, 55, 89}

In [117]:
X.pop()
Y

{1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233}

In [40]:
print(X[4],X[8])

233 8

<b>Q</b>: List X hides a surprise. It seems that it was randomly shuffled before the class. Can you sort the list contents in ascending order? Make sure that X is sorted. Did you change X or create a new sorted list?

In [41]:

X=sorted(X)
print(X)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233]

<b>Q</b>: Hahaha, it seems that X stores the first 14 values (when starting from 0) of the Fibonacci sequence. In the Fibonacci sequence each value is the sum of the previous two values. Can you calculate what are the next two values in the sequence?

In [42]:
last = X[-1]+X[-2]

In [43]:
X[-1]+last

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610]

<b>Q</b>: Append to the end of X the next two values of the Fibonacci sequence.
Afterwards print the List and confirm that the values have been added successfuly.

Note: you should be able to do this only calling X and its elements by the index.

In [44]:
X.append(X[-1]+X[-2])

610

In [ ]:
X.append(X[-1]+X[-2])
print(X)

<b>Q</b>: Now, suppose you show the sequence to your Math professor, who is a really opinionated and a believer that 0 should not be the first value of the sequence. He instructs you to remove it. Can you delete the value 0 from the list X? Show that you have successfuly remove the element 0.

In [45]:
X.pop(0)

0

In [46]:
print(X)

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610]

<b>Q</b>: Typecast the List X into a Tuple, and store the output in variable Y.

In [51]:
Y= tuple(X)
type(Y)

tuple

<b>Q</b>: What is the lenght of Y?

In [52]:
len(Y)

15

<b>Q</b>: Typecaste the List X into a Set. What is the size of the resulting Set?

In [54]:
Set = set(X)
type(Set)

set

<b>Q</b>: Below you can find the two variabls declared: movies and actors. 

The variable 'movies' stores a List with information about the movies each of a number actors have played a role in. That is, each entry in the movies List is a List of movie titles in which a particular actor played a role. The actor is thus encoded in the index of the List movies.

The variable actors is a dictionary that provides a map between an actor name (key) and the corresponding index in the list movies (value). Thus, it provides a quick way to access the list movies using the name of the actor.

In [58]:
movies = [
    ['JFK', 'Sleepers', 'Mystic River', 'Diner', 'Tremors', 'Hollow Man', 'A Few Good Men', 'Apollo 13', 'X-Men: First Class', 'Footloose'],
    ['Marjorie Prime','A Perfect Day','The Spoils Before Dying','Spoils of Babylon','Portlandia','The Secret Life of Words','Anchorman: The Legend of Ron Burgundy','Code 46','Mystic River','Austin Powers: The Spy Who Shagged Me','I.Q','The Shawshank Redemption','Short Cuts','Top Gun'],
    ['Happy Feet 2','Happy Feet','Back To The Future 2','Lord Of The Rings : The fellowship of the ring','Lord Of The Rings : The two towers','Lord Of The Rings : Return Of The King','The Hobbit : The Battle Of Five Armies','The Hobbit : An Unexpected Journey ','Sin City','Spy Kids 3 : Game Over'],
    ['Back to the Future','Back to the Future Part II ','Back to the Future Part III','Casualties of War ','The Hard Way','The Frighteners','Doc Hollywood','Greedy ','Teen Wolf ','Bright Lights, Big City'],
    ['X-Men','The Lord of the Rings: The Fellowship of the Ring','The Lord of the Rings: The Two Towers','The Lord of the Rings: The Return of the King','Emile','X2','Eighteen','X-Men: The Last Stand','The Magic Roundabout','Flushed Away'],
    ['I Am Sam.','Sweet Home Alabama.','Trapped.','Hansel & Gretel.','Uptown Girls.','The Cat In The Hat.','Man On Fire.','Nine Lives.','Hide And Seek.','War Of The Worlds.'],
    ['Manhattan ','Ironweed','Out of Africa ','Silkwood','The French Lieutenants Woman','Julie & Julia','The Devil Wears Prada','The Iron Lady','Sophies Choice','Kramer vs. Kramer'],
    ['The Thirteenth Year','The Flintstones in Viva Rock Vegas','The Safety of ObjectsPanic Room','Cold Creek Manor','Catch That Kid','Speak','Undertow','Fierce People','Zathura A Space Adventure'],
    ['Cowboys & Aliens','Paranoia','Ender Game','Anchorman 2: The Legend Continues','The Expendables 3','The Age of Adaline','Star Wars: Episode VII - The Force Awakens','Blade Runner 2049','Star Wars: Episode IX - The Rise of Skywalker','The Call of the Wild'],
    ['Harry Potter and the Philosophers Stone','Harry Potter and the Chamber of Secrets','Thunderpants','Harry Potter and the Prisoner of Azkaban','Harry Potter and the Goblet of Fire','Driving Lessons','Harry Potter and the Order of the Phoenix','Harry Potter and the Half-Blood Prince','Cherrybomb','Wild Target'],
]
actors = dict((
    ('Kevin Bacon',1),
    ('Tim Robbins',2),
    ('Elijah Wood',3),
    ('Michael J. Fox',4),
    ('Ian McKellen',5),
    ('Dakota Fannings',6),
    ('Maryl Streep',7),
    ('Kristen Stewart',8),
    ('Harrison Ford',9),
    ('Rupert Grint',10)
))

Can you list all the actors names in the dictionary actors?

In [60]:
actors.keys()

dict_keys(['Kevin Bacon', 'Tim Robbins', 'Elijah Wood', 'Michael J. Fox', 'Ian McKellen', 'Dakota Fannings', 'Maryl Streep', 'Kristen Stewart', 'Harrison Ford', 'Rupert Grint'])

Compare the lenght of the List movies with the maximum and minimum index value associated with an actor name. What do you conclude?

In [69]:
print(len(movies))
print(len(actors))

10
10

Print the names of the movies in which Kevin Bacon played a role.

In [80]:
movies[actors['Kevin Bacon']-1]

False

Can you identify in which movies have "Kevin Bacon" and "Tim Robbins" co-starred? <br>
Tip: Using Sets is quite handy for this task.

In [74]:
kb = set(movies[0])
tr= set(movies[1])
cs = kb.intersection(tr)
cs

{'Mystic River'}

In [91]:
a = 'Mystic River a a'
a.replace()

<b>Q</b>: In the Lecture we have discussed how data sctructures might be mutable or immutable depending on if they allow for the user to change individual elements they store. Can you demonstrate, by example, if each of the available data structures -- Tuples, Lists, Dictionaries, and Sets -- are mutable or not?

3Tip: To show that it is immutable, you just need to show that you can't change a value. Likewise, to show that it is mutable, you only need to show that you can indeed change a value.

In [87]:
#Y[0]=2 #tuple immutable
#X[0]=2 #list mutable
#actors['test'] =2
#actors
Set[0]=1

TypeError: 'set' object does not support item assignment

### Flow Control

<b>Q</b>: Write a program that, for an arbitrary choice of X and Y (with Y > X), prints all the even numbers in the range [X,Y].

In [8]:
# Example values for X and Y
X = 5
Y = 40

In [9]:
if X > Y:
    print("X is greater than Y!")
else:
    while X <= Y:
        if X%2 ==0:
            print(X)
        X = X +1

6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40

<b>Q</b>: Consider the tuples X and Y that are declared below. Write a program that identifies the indexes of the two lists that correspond to matching values.

In [75]:
X = (1,2,3,4,5,6,7)
Y = (7,2,3,10,2,8,9)

In [87]:
ident_indexes  = dict()

for i in range(max(len(X),len(Y))):
    ident_indexes[i] = []
    for j in range(min(len(X),len(Y))):
        if len(X) >= len(Y):
            if X[i] == Y[j]:
                ident_indexes[i].append(j)
        else:
            if Y[i] == X[j]:
                ident_indexes[i].append(j) 
    if ident_indexes[i] == []:
        ident_indexes.pop(i)

for key in ident_indexes:
    print('X indexes: ' + str(key)+ ' is equal to the Y indexes:'+ str(ident_indexes[key]))

X indexes: 1 is equal to the Y indexes:[1, 4]
X indexes: 2 is equal to the Y indexes:[2]
X indexes: 6 is equal to the Y indexes:[0]

<b>Q</b>: Write a computer program that computes the average of the values stored in a list X

In [16]:
import statistics as stat

stat.mean(X)

4

<b>Q</b>: Write a computer program that computes the standard deviation of the values stored in a list X

In [18]:
stat.stdev(X)

2.160246899469287

<b>Q</b>: Write a computer program that computes the median of the values stored in a list X

In [19]:
stat.median(X)

4

## Python STL

<b>Q</b>: Use the OS module to list all the files in your current working folder

In [20]:
# We start by loading the OS module
import os

# and then we can call the method listdir() to print the files in y our working folder
print("files in working directory: ",os.listdir())

#additionally using the sys we can check which paths is your python using to load modules
import sys
print("paths: ",sys.path)

files in working directory:  ['.ipynb_checkpoints', 'Challenges - Class 1.ipynb', 'PDS Lab 2.ipynb']
paths:  ['C:\\Users\\Not\\Desktop\\Aulas\\Programing for ds\\Curso', 'C:\\Users\\Not\\anaconda3\\python38.zip', 'C:\\Users\\Not\\anaconda3\\DLLs', 'C:\\Users\\Not\\anaconda3\\lib', 'C:\\Users\\Not\\anaconda3', '', 'C:\\Users\\Not\\anaconda3\\lib\\site-packages', 'C:\\Users\\Not\\anaconda3\\lib\\site-packages\\locket-0.2.1-py3.8.egg', 'C:\\Users\\Not\\anaconda3\\lib\\site-packages\\win32', 'C:\\Users\\Not\\anaconda3\\lib\\site-packages\\win32\\lib', 'C:\\Users\\Not\\anaconda3\\lib\\site-packages\\Pythonwin', 'C:\\Users\\Not\\anaconda3\\lib\\site-packages\\IPython\\extensions', 'C:\\Users\\Not\\.ipython']

In [21]:
# alternatively we can use magic commands like follow 
%ls

 O volume na unidade C não tem nome.
 O Número de Série do Volume é B0AD-8E9E

 Pasta de C:\Users\Not\Desktop\Aulas\Programing for ds\Curso

15/09/2021  10:53    <DIR>          .
15/09/2021  10:53    <DIR>          ..
15/09/2021  08:43    <DIR>          .ipynb_checkpoints
15/09/2021  10:46             2.053 Challenges - Class 1.ipynb
15/09/2021  10:53            26.972 PDS Lab 2.ipynb
               2 arquivo(s)         29.025 bytes
               3 pasta(s)   152.048.414.720 bytes disponíveis

<b>Q</b>: Use the Random module to create a list of 100 with random floats (between 0 an 1)

In [22]:
# We start by loading the random module 
import random

#we can create a list of random numbers using a for loop
r = []
for rnd in range(100):
    r.append(random.random())
print(r)

#or a while loop
r2 = []
while len(r2) < 100:
    r2.append(random.random()) 
print(r2)

[0.2972528412534384, 0.563938275673724, 0.3217843523727236, 0.37206258252478397, 0.18835958094935024, 0.7899213486214728, 0.6226585962287837, 0.48779769780043647, 0.30167239271747637, 0.0774634553462904, 0.07428953080787348, 0.4783661498634929, 0.20989354251495662, 0.19404531166016026, 0.18163985901682855, 0.6637296789742952, 0.5854870049579165, 0.5736719245757466, 0.09193618443816354, 0.24724069274797644, 0.5656450243147855, 0.15675367077742441, 0.3092172795026903, 0.3433931741998887, 0.5344962558860231, 0.9941596106923744, 0.0434894084073153, 0.5484971847329683, 0.8685025010539457, 0.08108302039180315, 0.31487898795921077, 0.8954388065143861, 0.4094725961229815, 0.7968956478607723, 0.9423797134380458, 0.1828060152597537, 0.14281353183442747, 0.436729400840168, 0.982696656348876, 0.7705043185387057, 0.7197255143563486, 0.7624273401687295, 0.3652030188725127, 0.5422958629062729, 0.8233295070329584, 0.3880690760556489, 0.21596647510764333, 0.07066881943107284, 0.11304702635212927, 0.41491165460190393, 0.4981415304007185, 0.8234636922630324, 0.39124843798435793, 0.2822914921268874, 0.06320451579425934, 0.38024589304979506, 0.20366430549589476, 0.14889957628552475, 0.017226927687757687, 0.7351892144396958, 0.4824649678794142, 0.19161777042530703, 0.23607644745661327, 0.7461249489103763, 0.7084777838791743, 0.6856255100430176, 0.26770097234749146, 0.8957755993657495, 0.17176058214369605, 0.8072405123819845, 0.9745229455744439, 0.4879997614025814, 0.6151753061186668, 0.12174913110257779, 0.31998993112413754, 0.30228388532787387, 0.32263211365594135, 0.8330655257698815, 0.2305591433095634, 0.9982132175535892, 0.47070031295132775, 0.24179395835078887, 0.03730415722656921, 0.4696890067196072, 0.5830219490420223, 0.5354455524112863, 0.800408639559122, 0.6927816048756185, 0.8141797590751283, 0.08433721074909006, 0.5402357556354241, 0.5851218974563914, 0.6779747174464735, 0.0979601156708867, 0.40807382125669345, 0.5598133814578008, 0.8502877107389357, 0.03406200892539801, 0.2209731183480509, 0.386149152557575]
[0.21769193174706103, 0.5104466686208222, 0.4792906753316609, 0.48033207192022565, 0.25907743625201984, 0.549420819072148, 0.24883111328411478, 0.4633841377605141, 0.2397152807225108, 0.14041298565557425, 0.6694289738828061, 0.5351150214063092, 0.3576134803166826, 0.23180707066804496, 0.722147053905195, 0.3018586188043132, 0.6737031631740763, 0.062457647217815104, 0.870637664702504, 0.26014416394155193, 0.18375658868541, 0.45999609957351384, 0.22725131427346945, 0.30065407652142917, 0.5965351298251794, 0.02252730866218211, 0.5535111409663634, 0.9683829074992183, 0.37732029437314885, 0.6024247575274229, 0.8263817439258837, 0.8197153447331956, 0.23919645276773494, 0.6565261650945925, 0.46263475361398243, 0.6766164047322818, 0.7717714861726385, 0.5120078894326764, 0.12437828469036327, 0.8756617383838337, 0.5301044502991757, 0.6657373676503893, 0.07146422073188718, 0.111344128402456, 0.006542676326609764, 0.4454457780964902, 0.3294938297415505, 0.8800548926060874, 0.9872343612398128, 0.21142218455229322, 0.6050369334243552, 0.7084354096448807, 0.09696799726219485, 0.09154967271087155, 0.9037758110912746, 0.1172071778254331, 0.2072348071655975, 0.9397045300510665, 0.9752719525928694, 0.36345433925951853, 0.8061558728955216, 0.9596266389184357, 0.7375327292061525, 0.5044823619630465, 0.06943011194917903, 0.1878724746018724, 0.9689427414922683, 0.6390973334790324, 0.6019803139565449, 0.7542574382622416, 0.9692641085640116, 0.6137008194494914, 0.5482845819928412, 0.6496100711358981, 0.6139190589191094, 0.9670314961007666, 0.2141307242762116, 0.6893769417399437, 0.38786966074142915, 0.20881377350062935, 0.7010806851082876, 0.47441143465470814, 0.7717617219431079, 0.269365507423713, 0.3405247940486802, 0.5750689985314738, 0.5270618485910376, 0.7198374141937336, 0.30341132472390053, 0.4444806697453353, 0.6382789254955078, 0.8406787570154074, 0.363345959445174, 0.12408087244764121, 0.38504203362536304, 0.30917563160803385, 0.8492619782659518, 0.3329207691517556, 0.7122735865608342, 0.7970969138213554]

<b>Q</b>:  Use the Math module to multiply each of the random numbers by 2 Pi

In [25]:
# we start by loading the module math
import math

# loop over all elements of r and multiply each by math.pi (approximations are for nerds)
for i in range(len(r)):
    r[i] = r[i]*2*math.pi

<b>Q</b>: Use the Math module to obtain the Sin of each of those values

In [ ]:
# you can use another loop allow us to replace the values by its Sin() for i in range(len(r)):

for i in range(len(r)):
    r[i] = math.sin(r[i])

print(r)

## Additional Exercises

<b>Question</b>: With a given integral number n, write a program to generate a dictionary that contains (i, i*i) such that is an integral number between 1 and n (both included). and then the program should print the dictionary.

Suppose the following input is supplied to the program: 8 <br>
Then, the output should be:
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

In [34]:
X = int(input('Choose an integer number: '))
Dict_multi = dict()
i=1
while i <= X:
    Dict_multi[i] = i*i
    i = i+1
print(Dict_multi)

Choose an integer number: 10
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

<b>Question</b>: Write a program that accepts a comma separated sequence of words as input and prints the words in a comma-separated sequence after sorting them alphabetically.

Suppose the following input is supplied to the program: without,hello,bag,world <br>
Then, the output should be: bag,hello,without,world

In [61]:
string_input = 'without,hello,bag,world'

aux = sorted(string_input.split(','))

string_output=''
for i in range(len(aux)):
    if i == len(aux)-1:
        string_output = string_output + aux[i]
    else:
        string_output = string_output + aux[i]+','
    
print(string_output)

bag,hello,without,world

<b>Question</b>: Write a program, which will find all such numbers between X and Y (both included) such that each digit of the number is an even number. The numbers obtained should be printed in a comma-separated sequence on a single line.

Suppose the following input is supplied to the program: 10,50 <br>
Then, the output should be: 20,22,24,26,28,40,42,44,46,48

In [70]:
Input = input("Choose your numbers: ")
input_split = Input.split(',')
f_input = [int(input_split[0]),int(input_split[1])]

even_number = []
if f_input[0] > f_input[1]:
    print("First number needs to be smaller than the last!")
else:
    for i in range(f_input[0],f_input[1]):
        digit_i = [int(a) for a in str(i)]
        aux = 0
        for j in range(len(digit_i)):
            aux = aux + digit_i[j]%2
        if aux == 0:
            even_number.append(i)

output=''
for i in range(len(even_number)):
    if i == len(even_number) - 1:
        output = output + str(even_number[i])
    else:
        output = output + str(even_number[i]) + ','
print(output)

Choose your numbers: 10,250
20,22,24,26,28,40,42,44,46,48,60,62,64,66,68,80,82,84,86,88,200,202,204,206,208,220,222,224,226,228,240,242,244,246,248